/* MENUS */
ul.menu {
  position: absolute;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-variant: petite-caps;
}

ul.menu li {
  flex-grow: 0.1;
  width: 50%;
  min-width: 240px;
  max-width: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4vh 5%;
  background-color: bisque;
  font-weight: light;
  border-radius: 8px;
  outline: 2px cornflowerblue solid;
  box-shadow: 0 0 12px cornflowerblue;
}

ul.menu li:hover:not(.disabled) {
  background-color: cornflowerblue;
  color: ghostwhite;
  font-weight: normal;
  outline-color: ghostwhite;
  box-shadow: 0 0 12px ghostwhite;
}

ul.menu li img {
  margin-right: 0.5rem;
}

ul.menu li:hover img {
  filter: invert(1);
}

ul.menu#menuOptions li {
  margin: 2vh 5%;
}

ul.menu#menuOptions li > span {
  margin-left: 1rem;
}

ul.menu#menuOptions li.disabled {
  cursor: not-allowed;
  background-color: lightgrey;
  outline-color: lightgrey;
  box-shadow: none;
}

ul.menu#menuOptions li.back {
  margin-top: 5vh;
}

ul.menu#menuOptions li.back:hover {
  background-color: mediumslateblue;
  padding-right: 48px;
}
