
html,
body,
canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  touch-action: none;
  cursor: crosshair;
}

/* UI */
.buttonYesNo {
  width: 40%;
  height: 48px;
  font-size: 1.5em;
  border-radius: 6px;
  border: none;
}

.buttonyes {
  background-color: #16a085;
  color: white;
}

.buttonno {
  background-color: #c0392b;
  color: white;
}

.popupdiv {
  display: none;
  opacity: 0.7;
  position: absolute;
  left: 5%;
  bottom: 5%;
  box-sizing: border-box;
  padding: 25px;
  width: 90%;
  color: white;
  font-family: roboto-font, sans-serif;
  background-color: black;
  border-radius: 6px;
}
